.navBarContainer {
  @apply inline-block cursor-pointer;
}
.bar1,
.bar2,
.bar3 {
  @apply w-[35px] h-[3px] bg-[#333] my-[8px] mx-0 transition-all ease-in-out duration-300;
}
.bgTransparent {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.46);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.1px);
  -webkit-backdrop-filter: blur(2.1px);
}
.dropdown:hover .dropdownMenu {
  display: flex;
}
